.passBtn {
    margin-top: 4rem;
      width: 10rem;
      border-radius: 25px;
      color: goldenrod;
      background-color: black;
      font-size: larger;
      margin-bottom: 11.4rem;
}
.right {
    margin-right: 0;
    padding-right: 0;
}